Desktop/test_projects/isor-0-DEV/web/ISOR/WebServices/EmployeeService/WSDL/ed_test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://risk.eb.cz" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://risk.eb.cz" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://risk.eb.cz">
      <s:element name="GetEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="employeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="document">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeByAuthname">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeByAuthnameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeByAuthnameResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="document">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeByCodeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="document">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employeeSearchMask">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindEmployeeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="document">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeByAuthnameSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeByAuthname" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeByAuthnameSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeByAuthnameResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeByCode" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="FindEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:FindEmployee" />
  </wsdl:message>
  <wsdl:message name="FindEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:FindEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeDirectoryWebServiceSoap">
    <wsdl:operation name="GetEmployee">
      <wsdl:input message="tns:GetEmployeeSoapIn" />
      <wsdl:output message="tns:GetEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByAuthname">
      <wsdl:input message="tns:GetEmployeeByAuthnameSoapIn" />
      <wsdl:output message="tns:GetEmployeeByAuthnameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByCode">
      <wsdl:input message="tns:GetEmployeeByCodeSoapIn" />
      <wsdl:output message="tns:GetEmployeeByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindEmployee">
      <wsdl:input message="tns:FindEmployeeSoapIn" />
      <wsdl:output message="tns:FindEmployeeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeDirectoryWebServiceSoap" type="tns:EmployeeDirectoryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://risk.eb.cz/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByAuthname">
      <soap:operation soapAction="http://risk.eb.cz/GetEmployeeByAuthname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByCode">
      <soap:operation soapAction="http://risk.eb.cz/GetEmployeeByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEmployee">
      <soap:operation soapAction="http://risk.eb.cz/FindEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeDirectoryWebService">
    <wsdl:port name="EmployeeDirectoryWebServiceSoap" binding="tns:EmployeeDirectoryWebServiceSoap">
      <soap:address location="http://riscvyvoj-pha02.eb.cz/EmployeeDirectory/EmployeeDirectory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>